.login-bg {
  background-image: url("../assets/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.user-links > a {
  text-decoration: none;
  color: black;
}

.user-links > a:hover {
  color: brown;
}
